__pycache__
.idea
Berlin_EmoDatabase_tmp
test_result
emoDbText
emodb
tmp_emo
Berlin_EmoDatabase/tmp_fear
docs
docs2
speech_emotion_recognition.db
praca_pisemna/tmp
praca_pisemna/speech_emotion_recogniotion.aux
praca_pisemna/speech_emotion_recogniotion.log
praca_pisemna/speech_emotion_recogniotion.out
praca_pisemna/speech_emotion_recogniotion.toc
praca_pisemna/speech_emotion_recogniotion.lot
praca_pisemna/speech_emotion_recogniotion.lof
praca_pisemna/*.bbl
praca_pisemna/*.bcf
praca_pisemna/*.blg
praca_pisemna/*.run.xml
